@model Clubmates.Web.Models.ClubsViewModel.CustomerClubViewModel
<h1>@Model.ClubName</h1>
<h1>@Model.ClubDescription</h1>
<h1>@Model.ClubEmail</h1>
<h1>@Model.ClubCategory</h1>
<h1>@Model.ClubContactNumber</h1>
